@import "@/styles/app.scss";

.navbar{
    position: sticky;
    top: 0;
    @extend .flexRow !optional;
    align-items: center;
    padding:0 50px;
    // @extend .glassyDiv !optional;
    justify-content: space-between;
    font-size: 22px;
    font-weight: bold;
    .header{
        cursor: pointer;
        @extend .textBlue !optional;
    }
    ul{
        display: inline-flex;
        gap: 1rem;
        li{
            list-style: none;
            color: black;
            cursor: pointer;
        }
    }
    button{
        background-color: white;
        color: black;
    }
}