@import "@/styles/app.scss";
@import "@/styles/variables.scss";
@import "@/styles/mixins.scss";

.page{
    height: 200vh;
    position: relative;
    overflow-x: hidden;
    .bg{      
        position: absolute;
        top: 0;
        // height: 600px;
        // width: 600px;
        right: -300px;
        width: 100vw;
        height: 90vh;
        z-index: 1;
    }
    .text{
        position: absolute;
        left: 100px;
        top: 100px;
        z-index: 99;
        width: 50%;
        h1{
            font-size: 72px;
            font-weight: bold;
            color: rgb(0, 140, 255);
        }
        z-index: 99;
    }
}