@import "@/styles/app.scss";
@import "@/styles/variables.scss";
@import "@/styles/mixins.scss";

.main{
    @extend .flexRow !optional;
    color: #097FF5;
    .left {
        @extend .flexCol !optional;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 50%;
        color: white;
        background-color: rgb(40, 145, 250);
        position: relative;
        .bg{
            position: absolute;
            top: 0;
            left: 0;
            display: grid;
            grid-template-columns: repeat(auto, 1fr); 
            grid-template-rows: repeat(auto, 1fr); 
            background-image: 
            linear-gradient(90deg, rgba(255, 255, 255, 0.205) 1px, transparent 3px),
            linear-gradient(180deg, rgba(255, 255, 255, 0.205) 1px, transparent 3px);
            background-size: 75px 75px; 
            border: 1px solid white;
            height: 100%;
            width: 100%;
        }
        div{
            height: fit-content;
            width: fit-content;
        }
        .company{
            position: absolute;
            top: 10%;
            left: 5%;
            @extend .flexRow !optional;
            gap: 1rem;
            align-items: center;
            margin: 5rem 0 0 2rem;
            p{
                font-weight: bold;
                letter-spacing: 1.2;
            }
        }
        .content{
            // margin: 25% 0 0 25%;
            position: relative;
            text-align: center;
            p{
                font-size: 22px;
            }
            h1{
                font-size: 52px;
                opacity: .7;
                font-weight: normal;
            }
        }
      }
      
    .right{
        @extend .flexCol !optional;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 50%;
        .contentRight{
            @extend .flexCol !optional;
            gap:1rem;
            margin-top: 2rem;
        }
        .input {
            position: relative;
            display: inline-block;
            margin-top: 1rem;
          }
          
          .input::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 4px; 
            background-color: $color-blue; 
            border-radius: 2px;
          }
          
          .input input {
            padding-left: 20px;
            height: 40px;
            width: 400px;
            border: none;
            border-radius: 4px;
            font-size: 16px;
            background-color: #f7f7f7;
            outline: none;
            &::placeholder{
                color:$color-gray ;
            }
          }
         .row{
            @extend .flexRow !optional;
            justify-content: flex-end;
         } 
         .googleBtnContainer{
            @extend .flexRow !optional;
            gap: 1rem;
            justify-content: center;
            align-items: center;
            background-color: black;
            color: white;
            padding: 1rem 2rem;
            border-radius: 2rem;
            cursor: pointer;
            p{
                font-weight: bold;
            }
            svg{
                height: 20px;
                width: 20px;
            }
         }
         .btnContainer{
            margin-top: 1rem;
            button{
                font-size: 22px;
                padding: 1rem 4rem !important;
                border-radius: 4rem !important;
                background-color: $color-blue;
            }
         }
    }
}