$color-blue-gradient :linear-gradient(90deg, rgb(4, 4, 153) 0%, rgb(47, 8, 116) 58%, rgb(0, 11, 219) 100%);
$color-new-gradient :linear-gradient(90deg, #FB4A1D 0%, #F48164 22%,#E7439D 48%,#6684FF 70%,#843BF8 87%,#A03CF8 100% );
$color-blue: #097FF5;
$color-gray:#aeafaf;